.article {
  composes: main from "@components/Home/Home.module.css";

  @media (min-width: 600px) {
    width: 580px;
    margin-inline: auto;
  }

  @media (min-width: 900px) {
    width: 650px;
  }
}

.article img {
  margin: 0 auto;
}

.article code:not(pre code) {
  font-style: italic;
}

.article pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.article p {
  margin-bottom: var(--spacer-4);
}

.article header {
  text-align: center;
  color: var(--green);
  margin-bottom: var(--spacer-4);
}

.article header h1 {
  font-size: var(--large);

  @media (min-width: 600px) {
    font-size: var(--x-large);
  }
}

.article h2 {
  margin-bottom: var(--spacer-4);
  font-size: var(--medium);

  @media (min-width: 600px) {
    font-size: var(--large);
  }
}
