.article {
  composes: main from "@components/Home/Home.module.css";
}

.article code:not(pre code) {
  font-style: italic;
}

.article pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.article p {
  margin-bottom: var(--spacer-4);
}

.article header {
  text-align: center;
  color: var(--green);
  margin-bottom: var(--spacer-4);
}

.article header h1 {
  font-size: var(--large);
}
