.logo {
  font-family: "Allan", cursive;
  font-weight: 700;
  font-size: var(--medium);
  color: var(--green);
  position: relative;
  text-decoration: none;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 30%;
  height: 30%;
  background: var(--green);
  border-radius: 100%;
  font-family: sans-serif;
  margin-left: 2px;
}

.navLinksWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--green);
  background-color: var(--black);
  /* color: var(--black); */
  border-top: 1px solid var(--green);
  border-radius: 10px;
  padding: var(--spacer-2);
  z-index: 1;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navLinks a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  color: var(--white);
  font-weight: 700;
}

.navLinks svg {
  font-size: var(--medium);
}

.main {
  margin-top: var(--spacer-8);
}

.intro h1,
.intro h2 {
  font-size: var(--larger);
}

@media (min-width: 600px) {
  .intro h1,
  .intro h2 {
    font-size: var(--x-large);
    /* width: 50%; */
  }
}

@media (min-width: 900px) {
  .intro h1,
  .intro h2 {
    font-size: var(--xx-large);
  }
}

.intro h2 {
  opacity: 0.8;
  font-weight: 500;
}

.intro h2 {
  margin-bottom: var(--spacer-3);
}

.intro h2 span {
  color: var(--green);
}

.intro > p:first-of-type {
  font-family: "Allan", cursive;
}

.intro > p:last-of-type {
  margin-bottom: var(--spacer-3);
}

@keyframes wavey {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-name: wavey;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  margin-right: var(--spacer-1);
  display: inline-block;
}

.intro p {
  margin-bottom: var(--spacer-2);
  opacity: 0.8;
}

@media (min-width: 600px) {
  .intro p {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .intro p {
    width: 50%;
  }
}

.intro > a {
  background-color: var(--green);
  color: var(--black);
  padding: var(--spacer-2) var(--spacer-4);
  display: inline-block;
  border-radius: 8px;
  margin-bottom: var(--spacer-2);
  text-decoration: none;
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .intro > a {
    width: 30%;
  }
}

.recentPosts {
  margin-top: var(--spacer-6);
}

.post {
  margin-bottom: var(--spacer-6);
  padding: var(--spacer-1);
}

.post p:first-of-type {
  font-size: var(--small);
  opacity: 0.8;
}

.post p:first-of-type svg {
  margin-right: var(--spacer-1);
}

.post h3 {
  color: var(--green);
  margin-bottom: var(--spacer-1);
}
