.main {
  margin-top: var(--spacer-8);
}

.intro h1,
.intro h2 {
  font-size: var(--larger);

  @media (min-width: 600px) {
    font-size: var(--x-large);
  }

  @media (min-width: 900px) {
    font-size: var(--xx-large);
  }
}

.intro h2 {
  opacity: 0.8;
  font-weight: 500;
}

.intro h2 {
  margin-bottom: var(--spacer-3);
}

.intro h2 span {
  color: var(--green);
}

.intro > p:first-of-type {
  /* font-family: "Allan", cursive; */
  /* font-family: "Roboto Condensed", sans-serif; */
  font-style: italic;
}

.intro > p:last-of-type {
  margin-bottom: var(--spacer-3);
}

@keyframes wavey {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-name: wavey;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  margin-right: var(--spacer-1);
  display: inline-block;
}

.intro p {
  margin-bottom: var(--spacer-2);
  opacity: 0.8;

  @media (min-width: 600px) {
    width: 70%;
  }

  @media (min-width: 900px) {
    width: 50%;
  }
}

.intro > a {
  background-color: var(--green);
  color: var(--black);
  padding: var(--spacer-2) var(--spacer-4);
  display: inline-block;
  border-radius: 8px;
  margin-bottom: var(--spacer-2);
  text-decoration: none;
  width: 100%;
  text-align: center;

  @media (min-width: 600px) {
    width: 30%;
  }
}

.recentPosts {
  margin-top: var(--spacer-6);

  @media (min-width: 600px) {
    max-width: 580px;
  }

  @media (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: var(--spacer-4);
  }
}

.post {
  margin-bottom: var(--spacer-6);
  padding: var(--spacer-1);

  @media (min-width: 900px) {
    flex-basis: 30%;
    margin-bottom: unset;
  }
}

.post a {
  text-decoration: none;
}

.post p {
  opacity: 0.8;
  font-weight: 400;
}

.post p:first-of-type {
  font-size: var(--small);
}

.post p:first-of-type svg {
  margin-right: var(--spacer-1);
}

.post h3 {
  color: var(--green);
  margin-bottom: var(--spacer-1);
  opacity: 0.8;
}
