.writing {
  & > img {
    @media (width >= 768px) {
      width: 530px;
    }
  }

  & .intro__wrapper {
    & > p {
      @media (width >= 768px) {
        width: 80%;
      }
    }
  }
}

.posts__container {
  border-top: 2px dashed var(--primary-theme-color);
  margin-top: var(--ms6);

  & > h3 {
    font-size: var(--ms4);
    position: relative;
  }
    
  & > h3::after {
    content: "Posts";
    left: 10%;
    opacity: 0.03;
    position: absolute;
    top: -15%;
    transform: scale(3.5);
  }

  & a:last-of-type > .card {
    border: 0;
  }
}
