.writing {
  & > img {
    @media (width >= 768px) {
      width: 530px;
    }
  }

  & .intro__wrapper {
    & > p {
      @media (width >= 768px) {
        width: 80%;
      }
    }
  }

  & .posts__container {
    text-align: center;

    @media (width >= 768px) {
      @supports(display: grid) {
        display: grid;
        grid-column: 1 / span 2;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--ms2);
      }
    }

    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & .post-date {
      color: var(--light-grey);
      font-size: var(--low-base-size);
      opacity: 0.38;
    }

    & .summary {
      color: var(--light-grey);
    }
  }
}
