@keyframes waving-hand {
  0%,100% { transform: rotate(-5deg)}
  50% { transform: rotate(25deg) }
}

.home {
  & [aria-label="waving hand"] {
    animation-name: waving-hand;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
    padding-left: 0.238rem;
  }
}
