.post {
  margin: 0 auto;

  @media (width >= 930px) {
    width: 70%;
  }

  & .post-title {
    color: var(--primary-theme-color);
    font-size: var(--ms3);
    text-align: center;

    @media (width >= 768px) {
      font-size: var(--ms4);
    }

    @media (width >= 1024px) {
      font-size: var(--ms5);
    }
  }

  & h2 {
    color: var(--primary-theme-color);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  & p {
    font-size: 1.125rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  & code:not([class^=language]) {
    background-color: var(--white);
    color: var(--primary-theme-color);
    padding: 0 0.3125rem;
  }

  & pre {
    background-color: var(--code-snippet-bg);
    border-left: 0.625rem solid var(--primary-theme-color);
    color: var(--white);
    padding: 1.25rem;
    white-space: pre-wrap;
  }
}
