:root {
  --ratio: 1.333;
  --base: 16px;
  --white: #fff;
  --light-grey: #666;
  --primary-theme-color: #7572f7;
  --secondary-theme-color: #fbb040;
  --code-snippet-bg: #3f3f3f;
  --base-size: 1rem;
  --low-base-size: calc(var(--base-size) / var(--ratio));
  --ms1: calc(var(--base-size) * var(--ratio));
  --ms2: calc(var(--ms1) * var(--ratio));
  --ms3: calc(var(--ms2) * var(--ratio));
  --ms4: calc(var(--ms3) * var(--ratio));
  --ms5: calc(var(--ms4) * var(--ratio));
  --ms6: calc(var(--ms5) * var(--ratio));
  --ms7: calc(var(--ms6) * var(--ratio));


  font-size: var(--base);
  line-height: 1.5;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--light-grey);
  font-family: system-ui;
  margin: 0;
  overflow-x: hidden;
  padding: 0;

  & img {
    max-width: 100%;
  }

  & a {
    color: var(--primary-theme-color);
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  line-height: 1.25;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.grid__container {
  margin-top: var(--base-size);

  @media (width >= 768px) {
    @supports(display: grid) {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--ms2);
      margin-top: var(--ms3);
    }
  }

  & .intro__wrapper {
    & p {
      text-align: center;

      @media (width >= 768px) {
        text-align: left;
      }
    }

    & p a {
      border-bottom: 3px solid var(--primary-theme-color);
      display: inline-block;
      margin: 0 0.178rem;
      transition-duration: 0.4s;
    }
  }

  & h1 {
    line-height: 1.15;
    margin: 0;
    text-align: center;

    @media (width >= 768px) {
      font-size: var(--ms4);
      text-align: left;
    }

    @media (width >= 979px) {
      font-size: var(--ms5);
    }

    @media (width >= 1024px) {
      font-size: var(--ms6);
    }
  }

  & a:hover {
    transform: scale(1.03);
  }
}

.highlight {
  color: var(--primary-theme-color);
}

.card {
  background: var(--white);
  border-bottom: 0.8px solid #f5f5f5;
  cursor: pointer;
  padding-bottom: var(--ms1);
  margin-bottom: var(--ms1);
  position: relative;

  @media (width >= 768px) {
    width: 70%;
  }

  & .summary {
    color: var(--light-grey);
  }
}

.card-header {
  color: var(--primary-theme-color);

  @media (width >= 768px) {
    font-size: var(--ms2);
  }

  @media (width >= 1024px) {
    font-size: var(--ms3);
  }
}

.date {
  color: var(--light-grey);
  font-size: var(--low-base-size);
  margin-top: 0.625rem;
  opacity: 0.38;
}
